header,
main,
footer {
    max-width: 890px;
    margin: 0 auto;
}

body {
    font-size: 20px;
}

header,
footer {
    background-color: #1887ab;
    color: white;
    padding: 1em;
    text-align: center;
}

footer a {
    color: white;
    display: grid;
}

@media only screen and (min-width: 40em) {
    footer a {
        display: inline;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    p {
        font-size: 20px;
    }
    ol li {
        font-size: 23px;
    }
}

@media only screen and (min-width: 60em) {
    footer a {
        display: inline;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 35px;
    }
    p {
        font-size: 25px;
    }
    ol li {
        font-size: 26px;
    }
}