body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: rgb(174, 189, 160);
    max-width: 90%;
}

main h1 {
    text-align: center;
    background: #283618;
    font-size: 4em;
    color: #fefae0;
    text-transform: uppercase;
    padding: 1em;
    margin-top: 0;
    margin-bottom: .5em;
}

img {
    max-width: 100%;
}

.hidden {
    display: none;
}

.hikes {
    padding: 0;
    margin: 1em 0;
    list-style-type: none;
}

.hikes div {
    padding: 0 0.5em;
}

.hikes li h2 {
    text-align: center;
    background: rgb(91, 104, 65);
    margin-bottom: 0.5em;
    color: #fefae0;
}

.light {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.light h2 {
    width: 100%;
    flex: 1 0 auto;
}

.light div {
    width: 40%;
    margin-left: 1em;
    flex: 1 1 auto;
}

.light h3 {
    margin-bottom: 0;
}

.light p {
    margin-top: 0;
}

.full h3 {
    margin-bottom: 0;
}

.full p {
    margin-top: 0;
}

button {
    border-radius: 10px;
    background: rgb(91, 104, 65);
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fefae0;
}

#comments {
    padding: 0.5em;
}

.addComment>h2 {
    text-align: center;
    background-color: rgb(91, 104, 65);
    color: #fefae0;
}

.addComment textarea {
    width: 100%;
    border: 1px solid;
    font-size: 1.2em;
}

.addComment button {
    padding: 0.5em;
    border: 1px solid;
    margin: 1em auto;
}

.submitBtn {
    text-align: center;
    max-width: 40%;
    margin: 0 auto;
}