/* tic tac toe  */

* {
    box-sizing: border-box;
}

.container h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(48, 7, 87);
}

.container {
    padding: 40px;
    height: 90%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

#gameboard {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    /* width: 450px; */
}

.box {
    height: 90px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: rgb(109, 4, 207);
}

.box:hover {
    cursor: pointer;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    padding: 1rem 3rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.966);
    opacity: 0.8;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: blue;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.box {
    border: 3px solid rgb(99, 3, 189);
}

.box:nth-child(1) {
    border-top: none;
    border-left: none;
}

.box:nth-child(2) {
    border-top: none;
}

.box:nth-child(3) {
    border-top: none;
    border-right: none;
}

.box:nth-child(4),
.box:nth-child(7) {
    border-left: none;
}

.box:nth-child(6),
.box:nth-child(9) {
    border-right: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
    border-bottom: none;
}